<!DOCTYPE html>
<html>
  <head>
    <title>{{ uname }} - Moritz Sokoll</title>
    <link rel="stylesheet" href="/static/styles/ap.css">
    <script src="/dist/ap-bundle.js"></script>
    <script src="/dist/navbar-bundle.js"></script>
    <script type="module" src="/dist/cookiebanner-bundle.js"></script>
    {% include "loggedin" %}
  </head>
  <body>
    <hp-navbar></hp-navbar>
    <div id="page_heading">
      <h1>Hey {{ uname }}</h1>
    </div>
    <hp-admin-panel></hp-admin-panel>
    <hp-cookiebanner></hp-cookiebanner>
  </body>
</html>
