<!DOCTYPE html>
<html>
  <head>
    <title>Moritz Sokoll</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <script type="module" src="/dist/navbar-bundle.js"></script>
    <script type="module" src="/dist/cookiebanner-bundle.js"></script>
    {% include "loggedin.html" %}
  </head>
  <body>
    <hp-navbar></hp-navbar>
    <div id="page-heading">
      <h1>Moritz Sokoll</h1>
      <h2>Mathematician, Developer and Software Enthusiast</h2>
    </div>

    <div id="description">
      <p>
	{{ description|safe }}
      </p>
    </div>
    <hp-cookiebanner></hp-cookiebanner>
  </body>
</html>
