@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
body {
  font-family: 'NTR', sans-serif; }

body {
  background-color: #1A1826;
  color: #ABE9B3; }

div#page-heading {
  text-align: center;
  margin: 60px; }

div#description {
  width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #ABE9B3;
  color: #575268; }

div#projects_container {
  display: flex;
  justify-content: center;
  margin-top: 60px; }

a#projects_link {
  color: #ABE9B3;
  background-color: #575268;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 300ms; }

a#projects_link:hover {
  color: #575268;
  background-color: #ABE9B3; }
