@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
body {
  font-family: 'NTR', sans-serif; }

body {
  color: #ABE9B3;
  background-color: #1A1826; }

div#title {
  margin: 60px;
  text-align: center; }

div#nothing-found {
  text-align: center;
  color: gray; }

div#projects {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  margin: auto; }

.project_container {
  text-align: center;
  width: 50%;
  margin: 20px 20px;
  color: #575268;
  background-color: #ABE9B3;
  padding: 20px 20px;
  border-radius: 10px;
  transition: 600ms; }
  .project_container a {
    text-decoration: none;
    color: #575268; }
  .project_container:hover {
    box-shadow: 10px 10px black; }
