@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

$primbg: #1A1826;
$primfg: #ABE9B3;
$secbg: $primfg;
$secfg: #575268;
$linkfg: $primbg;
$title_size: 75px;

:root {
    --bg: #{$secbg};
    --fg: #{$secfg};
}

body {
    font-family: 'NTR', sans-serif;
}
hp-cookiebanner {
    color: $secfg;
    background-color: $primfg;
}
