@import "global.scss";

body {
    background-color: $primbg;
    color: $primfg;
}

div#page-heading {
    text-align: center;
    margin: 60px;
    h1 {
	font-size: $title_size;
    }
}

div#description {
    width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: $secbg;
    color: $secfg;
    p {
	margin: 0;
	padding: 5px;
	a {
	    text-decoration: none;
	    color: $linkfg;
	}
    }
}

div#projects_container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

a#projects_link {
    color: $secbg;
    background-color: $secfg;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    transition: 300ms;
}

a#projects_link:hover {
    color: $secfg;
    background-color: $secbg;
}
